.navbar {
  background-color: #000000; 
  position: fixed;
  top: 0;
  left: 0; 
  right: 0; 
  width: 100%; 
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-title {
  color: #ffffff; 
  text-decoration: none;
  letter-spacing: 1px;
}


.cart-icon {
  color: #ffffff;
}


.cart-icon:hover {
  color: #ff0000;  
}
